# Environment variables
.env
.env.local
.env.*.local

# Authentication
auth.json
**/serviceAccountKey.json

# Firebase
.firebase/
*.cache

# Dependencies
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# Misc
.DS_Store
*.pem

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
